body{
   background: -o-linear-gradient(#0b4176,270deg)
}
.flex {
   margin: 0 auto;
   max-width: 1140px;
   min-height: 70px;
   padding: 0 40px;
   display: flex;
}
.flex a{
   height: 100%;
   width: 100%;
}
._flex1 {
   background-color: #0b4176;
   background-repeat: repeat-x;
}

._flex2 {
   background-color: #0b4176;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 2;
   height: 85px;
}
._Logo{
   background-position: -144px 0;
   height: 36px;
   width: 142px;
   background-size: 900px;
}
._flex3 {
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   min-height: 100vh;
   position: relative;
   z-index: 1;
}
._flex5 {
   background-image: url("anhnen.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;  
   
   -ms-flex-align: center;
   align-items: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: block;
   text-align: center;
   width: 100%;
   height: 1000px;
  
}
._flex6{
   width: 50%;
   height: 100%;
   display: inline-block;
   margin-top: 285px;
   margin-left: 55%;
}
#Start-link{
   display: block;
}
.logo{
   width: 48%;
   display: inline-block;
}
.flex6 {
   background-size: 250px;
   height: 250px;
   min-width: 250px;
   width: 250px;
 
}
.Hoc{
   display: inline-block;
   width: 50%;
   box-sizing: inherit;
   font-family: museo-sans-rounded,sans-serif!important;
}
.free{
   color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 50px;
}
._Start1 {
   min-width: 230px;
   padding: 15px 20px!important;
   display: inline-block;

}
._Start2 {
   font-size: 20px;
   padding: 15px 20px;
}
._Start4 {
   background: #7eb530;
   color: #fff;
}
._Start3 {
   border: 0;
}
._Start5{
border-radius: 98px;
cursor: pointer;
font-weight: 700;
text-align: center;
-ms-touch-action: manipulation;
touch-action: manipulation;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
vertical-align: middle;
white-space: nowrap;
}
._ID {
   color: #fff;
   cursor: pointer;
   font-weight: 700;
   margin: 30px auto 0;
   text-align: center;
}
._sign{
  border-radius: 5px;
}

button#dropdownMenuButton {
   width: 150px;
   border-radius: 20px;
   /* color: black; */
}

.dropdown a{
   color:rgba(0, 0, 0, .7);
   font-weight: bold;
}

.dropdown a:hover{
   color:rgba(0, 0, 0, .7);
   text-decoration: none;
   
}
._kt1{
   webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   left: 0;
   min-height: 100vh;
   padding-top: 70px;
   position: absolute;
   right: 0;
   top: 0;
   
 
}

._kt5 {
   color: #fff;
   font-size: 22px;
   font-weight: 700;
   margin: 0 auto 30px;
   padding: 0 20px;
}
.dropdown{
  top: 30px;
}
body{
overflow: hidden;

}
form
   {
      position: relative;
      z-index: 9;
      display: none;
  }
.hien{
   display: block;

}

._kt3{
   background: -o-linear-gradient(#0b4176,270deg);   
}
